<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="nosniff">
	<meta http-equiv="x-ua-compatible" content="DENY">
	<title>Page d'accueil</title>
	<script src="http://stage.up/static/include.js" defer></script>
	<link rel="stylesheet" href="http://stage.up/static/styleaccueil.css">
</head>
<body>

<div data-include="http://stage.up/static/navbar.html"></div>

<h1>Bienvenue sur notre site ! </h1>
<h2>Nous espérons que vous trouverez ce que vous cherchez !</h2>
<div class="zone">
	<a href="/?uri=offres" class="offer">
		<img src="http://stage.up/static/image1.png" alt="Image1">
		<div class="section-title">Recherche d'offres</div>
		<div class="section-text">
			<p>Vous recherchez une offre pour travailler ?</p>
			<p>Cliquez ici !</p>
		</div>
	</a>
	<a href="/?uri=entreprises" class="entrep">
		<img src="http://stage.up/static/image2.png" alt="Image2">
		<div class="section-title">Recherche d'entreprises</div>
		<div class="section-text">
			<p>Vous recherchez une entreprise en particulier ?</p>
			<p>Cliquez ici !</p>
		</div>
	</a>
	<a href="/?uri=wishlist" class="WishList">
		<img src="http://stage.up/static/image3.png" alt="Image3">
		<div class="section-title">Accéder à votre WishList</div>
		<div class="section-text">
			<p>Vous voulez accèdez à votre wishlist avec vos offres?</p>
			<p>Cliquez ici !</p>
		</div>
	</a>
</div>

<div data-include="http://stage.up/static/footer.html"></div>

</body>
</html>