<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stage Up - Connexion</title>
    <link href="http://stage.up/static/style_connexion.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="login-form">
        <h2>Connexion</h2>
        <form method="POST" action="/?uri=connexion" id="connect-form">
            <div class="input-box">
                <label>
                    <input type="email" name="email" placeholder="Email" id="emailInput" value="{{ email ?? '' }}" required>
                </label>
                <img src="http://stage.up/static/user-fill.svg" class="icon" alt="Email Icon">
            </div>
            <div class="input-box">
                <label>
                    <input type="password" name="password" placeholder="Mot de passe" id="passwordInput" required>
                </label>
                <img src="http://stage.up/static/lock-2-fill.svg" class="icon" alt="Password Icon">
            </div>
            {% if error %}
            <div class="errorMsg" id="errorMsg" style="color: red; margin-bottom: 10px;">
                {{ error }}
            </div>
            {% endif %}

            <a href="#" class="forgot-password">Mot de passe oublié ?</a>
            <div>
                <button type="submit" class="login-button">Connexion</button>
            </div>
            <p class="legal-text">En appuyant sur "Connexion", vous acceptez nos <em>Mentions Légales</em></p>
        </form>
    </div>
    <div class="side-banner">
        <h1>Bonjour !</h1>
        <p>Connectez-vous pour accéder à votre espace personnel.</p>
    </div>
</div>

<script src="https://stage.up/static/validation.js" defer></script>
<script defer>
document.addEventListener("DOMContentLoaded", () => {
    initFormValidation({
        selector: "#connect-form",
        fields: {
            email: document.getElementById("emailInput"),
            password: document.getElementById("passwordInput")
        }
    });
});
</script>

</body>
</html>
