
<!DOCTYPE html>
<html> 
<head> 
	<meta charset="utf-8">
	<meta name="author" content="Clery G">
    <link rel="stylesheet" href="http://stage.up/static/creer_compte_pilote.css">
	    <script src="http://stage.up/static/include.js" defer></script>
	<title>Stage Up - Création d'un compte pilote</title>
</head> 



	<header>
        <!-- Navbar -->
       <div data-include="http://stage.up/static/navbar.html"></div>
    </header>


    <div class="container">
        <form class="modification-form" action="index.php" method="post">
            <input type="hidden" name="uri" value="creer_compte_pilote">
            <h1>Création compte pilote</h1>
            
            <div class="form-group">
                <label for="nouveau-nom">Nom</label>
                <input type="text" id="nouveau-nom" name="nom">
            </div>
            
            <div class="form-group">
                <label for="nouveau-prenom">Prénom</label>
                <input type="text" id="nouveau-prenom" name="prenom">
            </div>
            
            <div class="form-group">
                <label for="nouvel-email">Email</label>
                <input type="email" id="nouvel-email" name="email">
            </div>

            <div class="form-group">
                <label for="mot-de-passe">Mot de Passe</label>
                <input type="password" id="mot-de-passe" name="mot_de_passe">
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </div>
        </form>
    </div>

<!-- Footer -->
<div data-include="http://stage.up/static/footer.html"></div>
    
<script src="http://stage.up/static/validation.js" defer></script>
<script defer>
document.addEventListener("DOMContentLoaded", () => {
    initFormValidation({
        selector: ".modification-form",
        fields: {
            nom: document.getElementById("nouveau-nom"),
            prenom: document.getElementById("nouveau-prenom"),
            email: document.getElementById("nouvel-email"),
            password: document.getElementById("mot-de-passe")
        }
    });
});
</script>

</body>
</html>
