
<html> 
<head> 
	<meta charset="utf-8">
	<meta name="author" content="Clery G">
	<link rel="stylesheet" href="http://stageup/static/style_entreprises.css">
	<title>Lebonplan</title> 
</head> 

<body>

	<header>

		<img class="center" src="http://stageup/static/logo_stageup.jpg" alt="Logo Lebonplan">
		

		<nav class="nav_bar">
			<div class='nav_left'>
				<a href="/">Accueil</a> | 
				<a href="/?uri=entreprises" class="active">Entreprises</a> | 
				<a href="whishlist.html">Wishlist</a> | 
				<a href="contact.html">Contact</a>
			</div>
			<div class="nav_right">
				<a href="connexion.html">Connexion</a> | 
				<a href="inscription.html" id="inscription_button">S'inscrire</a>
			</div>
		</nav>

		<nav class="chemin">
			<a href="/">Accueil</a> > 
			<a href="/?uri=entreprises">Entreprises</a>
		</nav>

	</header>

	<section class="principal">
 
		<p class="titre">Liste des entreprises</p>
		<p class="texte">Affichage de la liste des entreprises (10 par page)</p>

		<article>

            <table class="liste_entreprises"> 

                <tr>
                    <th>Nom</th>
                    <th>Descrption</th>
                    <th>Email</th>
					<th>Téléphone</th>   
					<th>Postuler</th>           
                </tr>
				

                {% for elem in enterprises|slice((page-1)*10, 10) %}
					<tr>
                        <td>{{ elem.name_enterprise }}</td>
                        <td>{{ elem.description_enterprise }}</td>
                        <td>{{ elem.email_enterprise }}</td>
						<td>{{ elem.tel_enterprise }}</td>
                        <td><a href="?uri=offres&page=1&id_enterprise={{ elem.id_enterprise }}">Voir les offres</a></td>
                    </tr>
				{% endfor %}

            </table>

			{% if page > 1 %}{% set page_n = page - 1 %}{% else %}{% set page_n = 1 %}{% endif %}
			<a href="?uri=entreprises&page={{ page_n }}">
				<button id="precedent">Page précédente</button></a>
			
			{% if page*10 <= enterprises|length %}{% set page_n = page + 1 %}{% else %}{% set page_n = page %}{% endif %}
            <a href="?uri=entreprises&page={{ page_n }}">
                <button id="suivant">Page suivante</button></a>
        
		</article>

		<p class="details">Vous acceptez les 
		<a href="cgu.html">CGU</a> 
		et la 
		<a href="politique_donnees.html">Politique d'utilisation des données.</a></p>

	</section>


	<footer>

		&copy 2024 - Tous droits réservés

	</footer>

</body> 
</html> 
