
<!DOCTYPE html>
<html> 
<head> 
	<meta charset="utf-8">
	<meta name="author" content="Clery G">
	<link rel="stylesheet" href="http://static.stage.up/modif_compte_pilote.css">
	    <script src="http://static.stage.up/include.js" defer></script>
	<title>Stage Up - Modification du compte Étudiant</title>
</head> 

<body>

	<header>
        <!-- Navbar -->
<div data-include="http://stage.up/templates/navbar.html"></div>
    </header>

    <div class="container">
        <form class="modification-form" action="/" method="POST">
            <input type="hidden" name="uri" value="modif_compte_pilote">
            <input type="hidden" name="id_pilote" value="{{ id_pilote }}">
            <h1>Modification compte Pilote</h1>
            
            <div class="form-group">
                <label for="nouveau-nom">Nouveau Nom</label>
                <input type="text" id="nouveau-nom" name="nom">
            </div>
            
            <div class="form-group">
                <label for="nouveau-prenom">Nouveau Prénom</label>
                <input type="text" id="nouveau-prenom" name="prenom">
            </div>
            
            <div class="form-group">
                <label for="nouvel-email">Nouvel Email</label>
                <input type="email" id="nouvel-email" name="email">
            </div>

            <div class="button-group">
                <a class ="btn btn-secondary" href="?uri=supp_pilote&id_utilisateur={{id_pilote}}">Supprimer le pilote</a>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </div>
        </form>
    </div>

<!-- Footer -->
<div data-include="http://stage.up/templates/footer.html"></div>
    
<script src="http://static.stage.up/validation.js" defer></script>
<script defer>
document.addEventListener("DOMContentLoaded", () => {
    initFormValidation({
        selector: ".modification-form",
        fields: {
            nom: document.getElementById("nouveau-nom"),
            prenom: document.getElementById("nouveau-prenom"),
            email: document.getElementById("nouvel-email")
        }
    });
});
</script>

</body>
</html>
