<html> 

<head> 
	<meta charset="utf-8">
	<meta name="author" content="Clery G">
	<link rel="stylesheet" href="http://stage.up/static/style_offres.css">
	<title>Lebonplan</title> 
</head> 

<body>

	<header>

		<img id="head_logo" src="http://stage.up/static/logo_stageup.jpg" alt="Logo Stage Up">
		

		<nav class="nav_bar">
			<div class='nav_left'>
				<a href="/">Accueil</a> | 
				<a href="/?uri=entreprises">Entreprises</a> | 
				<a href="whishlist.html">Wishlist</a> | 
				<a href="contact.html">Contact</a>
			</div>
			<div class="nav_right">
				<a href="connexion.html">Connexion</a> | 
				<a href="inscription.html" id="inscription_button">S'inscrire</a>
			</div>
		</nav>

		<nav class="chemin">
			<a href="/">Accueil</a> > 
			<a href="/?uri=entreprises">Entreprises</a> >
			<a href="/?uri=offres&page=1&id_entreprise={{id_entreprise}}">Offres</a>
		</nav>

	</header>

	<section class="principal">
 
		<p class="titre">Liste des offres</p>
		<p class="texte">Affichage de la liste des offres pour une entreprise (3 par page)</p>

		<article>

            <table class="liste_offres"> 

                <tr>
                    <th>Titre</th>
                    <th>Description</th>
					<th>Rémunération</th>
					<th>Date de début</th>
					<th>Date de fin</th>
                </tr>
				{% set offres_correspondantes = [] %}
                {% for elem in offres %}{% if elem.id_enterprise == id_entreprise %}
					{% set offres_correspondantes = offres_correspondantes|merge([elem]) %}
				{% endif %}{% endfor %}
				{% for elem in offres_correspondantes|slice((page-1)*3, 3) %}
					<tr>
						<td>{{ elem.title_offer }}</td>
						<td>{{ elem.desc_offer }}</td>
						<td>{{ elem.remun_offer }}</td>
						<td>{{ elem.s_date_offer }}</td>
						<td>{{ elem.e_date_offer }}</td>
					</tr>
				{% endfor %}

            </table>

			{% if page > 1 %}{% set page_n = page - 1 %}{% else %}{% set page_n = 1 %}{% endif %}
			<a href="?uri=offres&page={{ page_n }}&id_entreprise={{id_entreprise}}">
				<button id="precedent">Page précédente</button></a>
			
			{% if page*3 <= offres_correspondantes|length %}{% set page_n = page + 1 %}{% else %}{% set page_n = page %}{% endif %}
            <a href="?uri=offres&page={{ page_n }}&id_entreprise={{id_entreprise}}">
                <button id="suivant">Page suivante</button></a>
        
		</article>

		<p class="details">Vous acceptez les 
		<a href="cgu.html">CGU</a> 
		et la 
		<a href="politique_donnees.html">Politique d'utilisation des données.</a></p>

	</section>


	<footer>

		&copy 2024 - Tous droits réservés

	</footer>
 
</body> 
</html> 
