
<html> 
<head> 
	<meta charset="utf-8">
	<meta name="author" content="Clery G">
	<link rel="stylesheet" href="http://stage.up/static/style_pilotes.css">
  <script src="http://stage.up/static/include.js" defer></script>
	<title>Stage Up</title> 
</head> 

<body>

<header>

        <!-- Navbar -->
        <div data-include="http://stage.up/static/navbar.html"></div>


	</header>

	<section class="principal">
 
		<p class="titre">Liste des pilotes</p>
		<p class="texte">Affichage de la liste des pilotes (10 par page)</p>

		<article>

      <table class="liste_pilotes"> 

        <tr>
          <th style="width: 200px;">Nom</th>
          <th style="width: 200px;">Prénom</th>
          <th>Email</th>
          <th style="width: 130px;">Modifier</th>           
        </tr>


        {% for elem in pilotes|slice((page-1)*10, 10) %}
        <tr>
          <td>{{ elem.firstname_user }}</a></td>
          <td>{{ elem.lastname_user }}</td>
          <td>{{ elem.email_user }}</td>
          <td><a href="?uri=page_modif_compte_pilote&id_pilote={{ elem.id_user }}">Modifier le compte</a></td>
        </tr>
        {% endfor %}

      </table>

      <a href="?uri=page_creer_compte_pilote" id="creer_compte">Creer un compte pilote</a>
      <br><br>

      {% if page > 1 %}{% set page_n = page - 1 %}{% else %}{% set page_n = 1 %}{% endif %}
      <a href="?uri=pilotes&page={{ page_n }}">
      <button id="precedent">Page précédente</button></a>

      {% if page*10 <= pilotes|length %}{% set page_n = page + 1 %}{% else %}{% set page_n = page %}{% endif %}
      <a href="?uri=pilotes&page={{ page_n }}">
      <button id="suivant">Page suivante</button></a>

    </article>

	</section>


<!-- Footer -->
<div data-include="http://stage.up/static/footer.html"></div>
    

</body> 
</html> 
