<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="nosniff">
    <meta http-equiv="x-ua-compatible" content="DENY">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="http://stage.up/static/profil.css">
    <script src="http://stage.up/static/include.js" defer></script>
</head>
<body>

<div data-include="http://stage.up/static/navbar.html"></div>

<div class="profile-container">
    <img class="user_logo" src="http://stage.up/static/logo_user.png" alt="user_logo">
    <h2>Bienvenue {{ user.firstname_user }} {{ user.lastname_user }}</h2>
    <div class="info">
    <h3>Email :</h3>
    <p>{{ user.email_user }}</p>
    </div>
    <div class="info">
        <h3>Rôle :</h3>
        <p>{{ user.name_rank }}</p>
        <br>
        <br>
    </div>
    <a class ="low-button1" href="?uri=etudiants">Mes Étudiants</a>
    <a class ="low-button1" href="?uri=pilotes">Mes Pilotes</a>  
    <a class ="low-button3" href="/?uri=logout">Déconnexion</a>
</div>

<div data-include="http://stage.up/static/footer.html"></div>

</body>
</html>
