<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="nosniff">
    <meta http-equiv="x-ua-compatible" content="DENY">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="http://stage.up/static/profile.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-left">
        <a href=# class="nav-link">Accueil</a>
        <a href=# class="nav-link">WishList</a>
        <a href=# class="nav-link">Mes offres</a>
    </div>
    <div class="nav-logo">
        <a href=# class="nav-link"><h1>Web4All</h1></a>
    </div>
    <div class="nav-right">
        <a href=# class="nav-button">Mon compte</a>
    </div>
</nav>
<h1>Section profile</h1>

<div class="profile-listings">
    <h2 class="profile-count">0 offres disponibles</h2> <!-- Élément manquant -->
</div>


<div class="profile-container">
    <h2 class="profile-count"></h2> <!-- On affiche le compteur ici -->
    <div class="header">
        <div class="Profile-picture">
            <img id="company-logo" src="assets/images/default-logo.png" onerror="this.src='assets/images/default-logo.png'" alt="">
        </div>
        <h2>SZABLEWSKI Yanis</h2>
    </div>
    <div class="info">
        <h3>Email :</h3>
        <p>yanis.szablewski@viacesi.fr</p>
    </div>
</div>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h2>Web4All</h2>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2025 Web4All. Tous droits réservés.</p>
            <a href="mentions-legales.html" class="footer-link">Mentions légales</a>
        </div>
    </div>
</footer>
<script src="assets/js/profile.js"></script>
</body>
</html>