<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer une entreprise</title>
    <link rel="stylesheet" href="http://stage.up/static/stylesupprconfirmentreprise.css">
    <script src="http://stage.up/static/include.js" defer></script>
            <!-- Navbar -->
            <div data-include="http://stage.up/static/navbar.html"></div>
</head>
<body>

<div class="container">
    <h2>Êtes-vous sûr de vouloir supprimer votre entreprise ?</h2>
    <p>Toutes les données liées à cette entreprise seront définitivement supprimées !</p>

    <div class="button-container">
        <a href="C:/Users/Jules/Desktop/CESI/PROJET(s)/Web4ALL/mesoffres/mesoffres.html" class="button cancel-btn">Annuler</a>
        <button class="button delete-btn">Supprimer</button>
    </div>
</div>

<!-- Footer -->
<div data-include="http://stage.up/static/footer.html"></div>
     

</body>
</html>
